@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Material Icons";
  src: url(../fonts/MaterialIcons-Regular.woff2) format("woff2");
}

.material-icons {
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  letter-spacing: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-family: "Material Icons";
  line-height: 1;
  direction: ltr;

  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* Custom color theme */
:root {
  --f7-theme-color: #017244;
  --f7-theme-color-rgb: 1, 114, 68;
  --f7-theme-color-shade: #0c82df;
  --f7-theme-color-tint: #48a8f5;
}
/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);
  --f7-searchbar-input-bg-color: #fff;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255, 255, 255, 0.1);
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  visibility: hidden;
  margin: -27px 0 0 -27px;
  width: 54px;
  height: 54px;
  background: transparent url(../img/crosshair.svg) 0 0 no-repeat scroll;
  opacity: 1;
  pointer-events: none;
}

.ol-attribution.ol-uncollapsible {
  left: 0px;
  max-width: calc(100%);
  width: fit-content;
  border-radius: 0px 4px 0px;
  white-space: nowrap;
}

.list {
  margin: 0px !important;
}

.panel,
.panel-backdrop {
  z-index: 99999;
}

.panel-right-2 {
  width: 350px;
}

@media screen and (max-device-width: 320px) and (orientation: portrait) {
  .navbar .title {
    font-size: 17px;
  }
}

.alert {
  display: none;
  margin-bottom: 10px;
  padding: 10px;
  background: rgb(168, 240, 177);
  color: green;
  text-align: center;
}

.dialog {
  z-index: 100000;
}
